TF_VAR_project_id=YOUR_VALUE
TF_VAR_terraform_state_bucket=YOUR_VALUE
TF_VAR_email=YOUR_VALUE
TF_VAR_region=YOUR_VALUE
TF_VAR_credentials_file=YOUR_VALUE
TF_VAR_cluster_name=YOUR_VALUE
TF_VAR_vpc_name=YOUR_VALUE
TF_VAR_gcp_gke_service_account=YOUR_VALUE
TF_VAR_cert_manager_cluster_issuer_email=YOUR_VALUE
TF_VAR_default_node_pool_machine_type=YOUR_VALUE
TF_VAR_compute_node_pool_machine_type=YOUR_VALUE
TF_VAR_gpu_node_pool_machine_type=YOUR_VALUE
TF_VAR_gpu_node_pool_accelerator_type=YOUR_VALUE
TF_VAR_gpu_node_pool_accelerator_count=YOUR_VALUE
GH_USERNAME=YOUR_VALUE
GH_ORG_NAME=YOUR_VALUE
GH_REPO_NAME=YOUR_VALUE
GH_BRANCH_NAME=YOUR_VALUE
GH_PAT=YOUR_VALUE
GH_REPO=YOUR_VALUE
GH_OPS_REPO=YOUR_VALUE
GH_DEX_APP_CLIENT_ID=YOUR_VALUE
GH_DEX_APP_CLIENT_SECRET=YOUR_VALUE
GH_APP_CLIENT_ID=YOUR_VALUE
GH_APP_CLIENT_SECRET=YOUR_VALUE
JAEGER_SECRET=YOUR_VALUE
JAEGER_CASSANDRA_PASSWORD=YOUR_VALUE
KIALI_SECRET=YOUR_VALUE
KIALI_SA_API_TOKEN=YOUR_VALUE
GF_AUTH_GITHUB_CLIENT_ID=YOUR_VALUE
GF_AUTH_GITHUB_CLIENT_SECRET=YOUR_VALUE
GF_SECURITY_ADMIN_PASSWORD=YOUR_VALUE
GF_SECURITY_ADMIN_USER=YOUR_VALUE
LOFT_GITHUB_CLIENT_ID=YOUR_VALUE
LOFT_GITHUB_CLIENT_SECRET=YOUR_VALUE
