export TF_VAR_project_id=sciops-111111
export TF_VAR_terraform_state_bucket=sciops-20230921-122245
export TF_VAR_email=team@sciops.net
export TF_VAR_region=us-central1
export TF_VAR_credentials_file=${HOME}/.config/gcloud/application_default_credentials.json
export TF_VAR_cluster_name=sciops-dev
export TF_VAR_vpc_name=${TF_VAR_cluster_name}-network
export TF_VAR_gcp_gke_service_account=cluster-sa@sciops-111111.iam.gserviceaccount.com
export TF_VAR_cert_manager_cluster_issuer_email=team@sciops.net
export TF_VAR_default_node_pool_machine_type=e2-medium
export TF_VAR_compute_node_pool_machine_type=n1-standard-4
export TF_VAR_gpu_node_pool_machine_type=n1-standard-32
export TF_VAR_gpu_node_pool_accelerator_type=nvidia-tesla-t4
export TF_VAR_gpu_node_pool_accelerator_count=1
export GH_USERNAME=sciexp
export GH_ORG_NAME=sciexp
export GH_REPO_NAME=sciops
export GH_BRANCH_NAME=main
export GH_PAT=ghp_ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
export GH_REPO=${GH_ORG_NAME}/${GH_REPO_NAME}
export GH_OPS_REPO=${GH_ORG_NAME}/${GH_REPO_NAME}
export GH_DEX_APP_CLIENT_ID=8aaaaaaaaaaaaaaaaaa0
export GH_DEX_APP_CLIENT_SECRET=baaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa6
export GH_APP_CLIENT_ID=7aaaaaaaaaaaaaaaaaa5
export GH_APP_CLIENT_SECRET=2aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa4
export JAEGER_SECRET=4aaaaaaaaaaaaaaaaaaaaaaaaaaaaaae
export JAEGER_CASSANDRA_PASSWORD=Jzzzzzzzz1
export KIALI_SECRET=7aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa1
export KIALI_SA_API_TOKEN=glsa_zaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa3
export GF_AUTH_GITHUB_CLIENT_ID=caaaaaaaaaaaaaaaaaaf
export GF_AUTH_GITHUB_CLIENT_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa5
export GF_SECURITY_ADMIN_PASSWORD=A11111111f
export GF_SECURITY_ADMIN_USER=admin
export EXAMPLE_CLUSTER_DOMAIN=cluster-127-0-0-1.nip.io
export CLUSTER_DOMAIN=cluster.sciops.net
export ARGOCD_SERVER_URL=argocd.${CLUSTER_DOMAIN}
export ARGOCD_PASSWORD=haaaaaaaaaaaaaah
export KUBEFLOW_VCLUSTER_CONTEXT=vcluster_vcluster-kf_vcluster-kf_gke_sciops-111111_us-central1_sciops
